In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/14_naive_bayes/spam.csv")

In [3]:
df.head(3)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...

In [4]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [5]:
pd.Categorical(df['Category']).describe()

            counts     freqs
categories
ham           4825  0.865937
spam           747  0.134063

In [6]:
df['Category']=df.Category.eq('spam').mul(1)

In [7]:
df.head(3)

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,y_train,y_test=train_test_split(df.Message,df.Category,test_size=0.2)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
v=CountVectorizer()

In [12]:
X_train_count=v.fit_transform(X_train.values)
X_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [13]:
from sklearn.naive_bayes import MultinomialNB

In [14]:
mnb=MultinomialNB()

In [15]:
mnb.fit(X_train_count,y_train)

MultinomialNB()

In [16]:
X_test_count=v.transform(X_test)

In [17]:
mnb.score(X_test_count,y_test)

0.9847533632286996

In [32]:
mail=["I am Avi pruthi and I will win the cup"] 
mail_count=v.transform(mail)
mnb.predict(mail_count)

array([0])

In [33]:
from sklearn.pipeline import Pipeline
pipe=Pipeline([('vectorizer',CountVectorizer()),('model',MultinomialNB())])

In [34]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('model', MultinomialNB())])

In [35]:
pipe.score(X_test,y_test)

0.9847533632286996